@model PickEm.Models.BracketModel

@{
    ViewData["Title"] = "Details";
}

@{
    var teams = new List<string>();
    foreach (var game in Model.Games)
    {
        teams.Append(game.HomeTeam.Name);
        teams.Append(game.AwayTeam.Name);
    }
}

<h1>Details</h1>

<div>
    <h4>BracketModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/js/brackets.min.js"></script>

    <div class="brackets">

    </div>

	<script type="text/javascript">
	    var rounds;
	    rounds = [
	      [
		{
		  player1: {name:"Player1", winner:true, ID:1},
		  player2: {name:"Player2", ID:2}
		},
		{ 
		  player1: {name:"Player3", ID:3},
		  player2: {name:"Player4", winner:true, ID:4}
		}
	      ],
	      [
		{
		  player1: {name:"Player1", winner:true, ID:1},
		  player2: {name:"Player4", ID:4}
		}
	      ],
	      [
		{
		  player1: {name:"Player1", winner:true, ID:1}
		}
	      ]
	    ]
	    var titles = ['Semifinals', 'Finals', 'Champion'];

	    $(".brackets").brackets({
	      titles: titles,
	      rounds: rounds
	    });
	</script>
	  

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
